
[Unit]
Description=Kubernetes Kubelet

[Service]
ExecStartPre=/usr/bin/mkdir -p /etc/kubernetes/manifests
ExecStart=/usr/bin/kubelet \
  --config=/etc/kubernetes/kubelet-config.yaml \
  --container-runtime=remote \
  --container-runtime-endpoint=unix:///var/run/containerd/containerd.sock \
  --kubeconfig=/var/lib/kubelet/kubeconfig \

  --anonymous-auth=false \
  --authorization-mode=Webhook \
  --allow-privileged=true \

  --client-ca-file=/var/lib/kubernetes/ca.pem \
  --tls-cert-file=/var/lib/kubelet/kubelet.crt \
  --tls-private-key-file=/var/lib/kubelet/kubelet.key

  --network-plugin=cni \
  --cni-bin-dir=/opt/cni/bin \
  --cni-conf-dir=/etc/cni/net.d \

Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target